<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget Password</title>
    <link rel="stylesheet" href="/styl.css">
</head>
<body>
    <div class="form-container">
        <h2>Forget Password</h2>
        <form action="/password" method="post">
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="text" id="Email" name="Email" placeholder="Enter your Email" required>
                <button type="submit">Send Reset Link</button>
                <a href="/change_password">change password</a>
            </div>
            <a href="/Register">don't have acount</a>
            <button type="submit" class="submit-btn">send</button>
        </form>
    </div>

</body>
</html>
